@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600&display=swap');

*, html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

#app { 
    width: 100%; 
    min-height: 100vh;
    background-color: $black-color;
    transition: background-color .5s;
}

#app.dark-mode {
    background-color: $black-color;
}